<!DOCTYPE html>
<html>
    <head>
        <title>Boilerplate</title>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="apple-mobile-web-app-title" content="Full Screen">

        <!-- <link rel="shortcut icon" type="image/x-icon" href="<favicon>.ico" /> -->
        <!-- <link rel="apple-touch-icon" href="<iphone add to homescreen logo>.jpg"> -->
        <link rel="stylesheet" href="assets/styles/style.css">
    </head>
    <body>
        <header class="l-header">
            <div class="l-inner-container">
                <h1>Kevin Hou Boilerplate</h1>
            </div>
        </header>

        <main class="l-main-content">
            <div class="l-inner-container">
                <form id="formExample" class="m-example-form">
                    <label class="form-label" for="firstname">First name</label>
                    <input class="form-field" type="text" name="firstname" placeholder="First name" required/>

                    <label class="form-label" for="surname">Surname</label>
                    <input class="form-field" type="text" name="surname" placeholder="Surname" required/>

                    <input class="form-button" type="submit" name="submit" value="Submit"/>
                </form>
                
                <aside class="l-sidenav">              
                    
                </aside>
            </div>
        </main>

        <footer class="l-footer">
            <div class="l-inner-container">
                           
            </div>
        </footer>

        <script src="assets/scripts/bundle.js"></script>        
    </body>
</html>