.m-example-form{
	.form-label{
		display: block;
		margin: 20px 0 10px 0;
		font-weight: bold;
		font-size: 16px;
	}
	.form-field{
		display: block;
		padding: 10px;
		box-shadow: inset 0px 0px 4px rgba(0,0,0,0.1);
		border: 1px solid #E5E5E5;
		width: 250px;
		max-width: 100%;
		box-sizing: border-box;
		&:focus, &:active{
			outline: none;
		}
		&.form-validation-error{
			border: 1px solid red;
		}
	}
	.form-button{
		background-color: #0078e7;
		color: #fff;
		border: none;
		border-radius: 2px;
		padding: 10px;
		font-size: 16px;
		margin-top: 20px;
	}
	SPAN.form-validation-error{
		display: block;
		margin-top: 8px;
		color: red;
	}
}